ul.photo-gallery { list-style-type: none; }
ul.photo-gallery li { padding: 0; margin: 0; }
ul.photo-gallery li { float: left; margin-right: 20px; }
ul.photo-gallery li img { border: solid 1px #000000; height: 100px; width: 133px;  }

body { font-family: sans-serif; }

body a, body a:visited { color: #602F7D; }

.view-container { position: relative; }
.sidebar { width: 300px; position: absolute; top: 0; }
.sidebar h1 { font-size: 14pt; padding-left: 5px; }
.sidebar h2 { font-size: 12pt; padding-left: 5px; }
.main-view { width: 100%; }
.main-view .pushed { margin-left: 350px; }
.main-view .photo-gallery li { position: relative; }
.main-view .photo-gallery li .image-label { font-size: 8pt; position: absolute; top: 0; background: #ddd; /*rgba(255,255,255,0.5);*/ }

.sidebar { background: #602F7D; color: #fff; font-size: 11pt; }
.sidebar a, .sidebar a:visited { color: #fff; }
.sidebar .albums ul { list-style-type: none; padding-left: 5px; }
.sidebar .albums ul li { margin-top: 5px; margin-bottom: 5px; }

.sidebar .repository { font-size: 8pt; padding-left: 5px; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Mobile style */

@media only screen and (max-device-width: 480px) {
    .sidebar { width: 100%; position: relative; margin-bottom: 15px; }
    .main-view { width: 100%; }
    .main-view .pushed { margin: 0; }
    ul.photo-gallery li,
    ul.photo-gallery { padding: 0; margin: 0; }
    ul.photo-gallery li img { width: 100%; height: auto; }
    ul.photo-gallery li { float: left; margin: 5px; width: 40%; }
    .main-view .photo-gallery li .image-label { display: none; }
}
